
/* --------------- */
/* Tif - Home Cover CSS             */
/* --------------- */

.tif-home-cover .tif-boxed {
	@if( $has-tif-path == 'false' ){
		max-width: $tif-width-primary;
	}
	margin: auto;
}

.tif-home-cover .tif-cover .wrap-content {
	align-items: $tif-home-cover-align-items;
	justify-content: $tif-home-cover-justify-content;
	gap: $tif-home-cover-gap;
	@if $tif-home-cover-align-items == "center" {
		text-align: center;
	} @else if $tif-home-cover-align-items == "end" {
		text-align: right;
	} @else {
		text-align: left;
	}
	padding: $spacer-medium-plus;
}
.tif-home-cover .tif-cover .wrap-content .flex {
	justify-content: $tif-home-cover-align-items;
}
