
/* ----------------------------- */
/* Tif Overlay                   */
/* ----------------------------- */

.tif-overlay {
	position: relative;
}
.tif-overlay::after {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: 2;
}
.tif-overlay > :not(image) {
	z-index: 3
}
.tif-overlay .entry-thumbnail,
.tif-overlay img {
	z-index: 1
}
